.select {
  padding: 0px 15px;
  background: transparent;
  color: white;
  margin: 0px 15px 0px 0px;
  border: 1px solid #ca8e46;
}
.select:hover{
  background-color: #ca8e46;
  color: white;
  transition: 0.4s;
}
.logo {
  width: 48px;
}
